<div class="container">
    <nav class="navbar">
        <div class="left-side hstack">
            <a class="navbar-brand" href="#">LOGO</a>
            <ul class="navbar-nav hstack gap-3">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="blog">Specials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="restaurant">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contact">Contact</a>
                </li>
            </ul>
        </div>
        <div class="navbar-nav hstack gap-3 ms-auto">
            <form class="d-flex" role="search">
                <a routerLink="/blog" class="nav-link"
                    ><i class="fa-solid fa-cart-shopping fa-xl"></i>
                    <div class="badge bg-secondary">{{ total_items }}</div></a
                >
                <!-- <input class="form-control me-2" type="text" /> -->
            </form>

            <div class="nav-item">
                <a class="nav-link" routerLink="login">login</a>
            </div>
            <div class="nav-item">
                <a class="nav-link" routerLink="signup">Signup</a>
            </div>

            <div class="nav-link">
                <a class="nav-link" routerLink="">
                    <i class="fa-solid fa-location-dot fa-xl"></i>
                </a>
            </div>
        </div>
    </nav>
</div>
<router-outlet></router-outlet>
