<div class="container">
    <h3 class="text-center border-bottom pb-3">Products</h3>
    <div
        class="row row-cols-2 row-cols-md-3 row-cols-xl-4 gy-4 d-flex justify-content-evenly g-4"
    >
        <div class="col" *ngFor="let product of product_list; let i = index">
            <div class="card shadow h-100 card-overlay">
                <a
                    class="d-block ratio ratio-1x1"
                    routerLink="/restaurant-details/{{ product.id }}"
                >
                    <img
                        class="object-fit-contain"
                        src="{{ product.image }}"
                        alt="..."
                    />
                </a>

                <div class="vstack gap-3">
                    <div class="hstack gap-3">
                        <span
                            *ngIf="loggedIn()"
                            class="text-secondary fw-bolder"
                        >
                            {{
                                product.price
                                    | currency : "ZAR" : "symbol-narrow"
                            }}
                            incl VAT
                        </span>
                        <span
                            *ngIf="!loggedIn()"
                            class="text-secondary fw-bolder"
                        >
                            ** Login to see price**
                        </span>

                        <div class="ms-auto">
                            <i
                                (click)="favorite(product)"
                                [class.active]="isActive"
                                class="like-icon fa-solid fa-heart fa-xl"
                            ></i>
                        </div>
                    </div>
                    <h5 class="mb-auto">{{ product.title }}</h5>
                    <div class="hstack justify-content-center gap-1">
                        <div class="quantity hstack">
                            <div
                                (click)="decrementQuantity(product)"
                                class="btn d-none d-sm-block btn-outline-secondary"
                            >
                                <i class="fa-solid fa-minus"></i>
                            </div>
                            <div
                                (click)="decrementQuantity(product)"
                                class="btn btn-sm d-block d-sm-none btn-outline-secondary"
                            >
                                <i class="fa-solid fa-minus"></i>
                            </div>
                            <input
                                class="input-quantity text-center"
                                type="text"
                                value="{{ product.quantity }}"
                                readonly
                            />
                            <div
                                (click)="incrementQuantity(product)"
                                class="btn d-none d-sm-block btn-outline-secondary"
                            >
                                <i class="fa-solid fa-plus"></i>
                            </div>
                            <div
                                (click)="incrementQuantity(product)"
                                class="btn btn-sm d-block d-sm-none btn-outline-secondary"
                            >
                                <i class="fa-solid fa-plus"></i>
                            </div>
                        </div>
                        <button
                            (click)="addToCart(product)"
                            class="btn btn-outline-secondary ms-auto d-none d-sm-block"
                        >
                            <i class="fa-solid fa-cart-plus"></i>
                        </button>
                        <button
                            (click)="addToCart(product)"
                            class="btn btn-sm d-block d-sm-none btn-outline-secondary ms-auto"
                        >
                            <i class="fa-solid fa-cart-plus"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
