<div class="container py-5">
    <div class="row">
        <div class="mb-3 text-center col-md-6 prod_detail">
            <div class="ratio ratio-1x1">
                <div class="product-image">
                    <img
                        class="img-fluid image rouded-3"
                        loading="lazy"
                        src="{{ product_details.image }}"
                        alt="{{ product_details.title }} "
                    />
                </div>
            </div>
        </div>
        <div class="col-md-6 producti-information">
            <h1 class="pb-3 product-title border-bottom text-secondary">
                {{ product_details.title }}
            </h1>
            <div class="d-flex justify-content-between">
                <div class="hstack gap-3">
                    <span *ngIf="loogedIn()" class="text-secondary fw-bolder">
                        {{
                            product_details.price
                                | currency : "ZAR" : "symbol-narrow"
                        }}
                    </span>
                    <span *ngIf="!loogedIn()" class="text-secondary fw-bolder"
                        >**login to see price**</span
                    >

                    <span class="text-secondary">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star-half"></i>

                        ({{ product_details.rating.count }})
                    </span>
                    <span><i class="like-icon fa-regular fa-heart"></i></span>
                </div>
            </div>
            <div class="my-3">
                <h3 class="text-secondary">Description</h3>
                <p>{{ product_details.description }}</p>
            </div>
            <div class="row row-cols-2">
                <div class="col hstack gap-3">
                    <button
                        (click)="addToCart(product_details)"
                        class="btn btn-outline-secondary"
                    >
                        Add to cart
                    </button>
                    <button
                        class="btn btn-outline-secondary"
                        routerLink="/restaurant"
                    >
                        Shop more
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
