.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.prod_detail {
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    overflow: hidden;
}

.image {
    height: 45vh;
    width: 70%;
}

.like-icon {
    font-size: 15px;
    bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.4s;
    height: 40px;
    width: 40px;
}

.like-icon:hover {
    background-color: #757575;
    color: white;
}
